html, body {
	height: 100%;
}

body {
	margin: 0px;
}


@media (min-width: 992px) {
	body {
		padding-top: 100px;
	}
}
body, input {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

div.content {
	max-width: 600px;
	margin: auto;
	vertical-align: middle;
	margin-top: 50px;
	margin-bottom: 10px;
}

input {
	border: 1px solid #333;
	border-radius: 2px;
}

input[disabled='disabled'] {
	color: #999;
	background-color: #EEE;
	border: 1px solid #AAA;
}

input.error {
	color: #770000;
	border: 1px solid red;
	background-color: #FFEEEE;
}

input#unix_time, input#human_time {
	text-align: center;
	margin: auto;
	border: 1px solid #999;
	position: relative;
	top: -2px;
}

div.output {
	font-size: 1.7em;
}

div.input input {
	font-size: 1.7em;
}

a {
	text-decoration: none;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #46A7C3;
}

::-webkit-input-placeholder  { color:#BBB; }
input:-moz-placeholder { color:#BBB; }

div.explanation {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.05em;
	text-align: center;
}

div.swap {
	margin-top: 35px;
	text-transform: uppercase;
	margin-bottom: 35px;
	position: relative;
	top: -5px;
	text-align: center;
}
div.swap a {
	font-size: 3em;
	-webkit-text-stroke: 1px #DDD;
	color: #EEE;
}
div.swap a:hover {
	color: #428bca;
}

div.location_select {
	text-align: left;
	margin-top: 20px;
}

input {
	-webkit-transition: color,background-color,border-color 1s ease-in-out;
}

input#time_location.success {
	color: #007700;
	border: 1px solid green;
	background-color: #EEFFEE;
}
input#time_location.pending {
	color: #DAA520;
	border: 1px solid yellow;
	background-color: #FFFDD0;
}

footer {
	margin-top: 60px;
	font-size: 0.8em;
	text-align: left;
	color: #CCC;
}

footer a {
	color: #CCC;
}

footer a:hover {
	color: #428bca;
}

footer div.sitename {
	font-weight: bold;
	font-size: 2em;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

a#options {
	text-transform: uppercase;
	font-size: 0.9em;
	position: relative;
	top: 5px;
}

div.dialog {
	padding-top: 20px;
	color: #888;
	font-size: 0.9em;
	text-transform: uppercase;
}

div.dialog input {
	border: 1px solid #CCC;
	color: #888;
}

input#human_time {
	width: 17em;
	text-align: center;
}

div.location_select div {
}

input#time_location {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	margin: 0px;
	position: relative;
}

div.city span.radio_label {
	margin-right: 15px;
}

div.dialog label {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.time_location_details {
	color: #AAA;
}

div.options {
	text-align: left;
	position: relative;
	top: 10px;
}

input#human_format {
	text-align: center;
	width: 17em;
}

div.box {
	text-align: center;
	border-radius: 5px;
}
div.head {
	padding-top: 15px;
	height: 110px;
	background-color: #F8F8F8;
	border-bottom: 1px solid #DDD;
}
