body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-align: center;
}


div.unix_time {
}

div.unix_time div.explanation {
	font-size: 2em;
	text-transform: uppercase;
}

input#unix_time {
	border: 1px solid black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 2em;
	text-align: center;
}

div.to_from {
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
}

div.to_from strong {
	font-weight: bold;
}

div.to_from a#from {
	opacity: 0.5;
}


div.location_select {
	font-size: 1.2em;
	text-transform: uppercase;
}

div.human_time div.explanation {
	font-size: 2em;
	text-transform: uppercase;
}

input#unix_time {
	border: 1px solid black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 2em;
	text-align: center;
}

div.to_from {
	font-size: 2em;
	text-transform: uppercase;
}


div.location_select {
	font-size: 1.2em;
}

input#time_location {
	border: 1px solid black;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

div.human_output {
	font-size: 2em;
}

div.footer {
	font-size: 0.8em;
	text-align: right;
	position: static;
	bottom: 20px;
	right: 20px;
}

div.footer div.sitename {
	font-weight: bold;
	font-size: 2em;
	letter-spacing: -0.10em;
	text-transform: uppercase;
}

div.footer div.sitename a {
}

input#time_location.success {
	border: 1px solid green;
}
input#time_location.pending {
	border: 1px solid yellow;
}
input#time_location.error {
	border: 1px solid red;
}
