html, body {
	height: 100%;
}

body {
	text-align: center;
	margin: 0px;
}

body, input {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

div.content {
	max-width: 600px;
	margin: auto;
	vertical-align: middle;
	margin-top: 50px;
	margin-bottom: 10px;
}

input {
	border: 1px solid black;
	border-radius: 2px;
}
input[disabled='disabled'] {
	color: #999;
	background-color: #EEE;
	border: 1px solid #AAA;
}

input.error {
	color: #770000;
	border: 1px solid red;
	background-color: #FFEEEE;
}

input#unix_time {
	text-align: center;
}

div.output {
	font-size: 1.7em;
}

div.input input {
	font-size: 1.7em;
}

a {
	text-decoration: none;
	color: #3697B3;
	-webkit-transition: color 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	-ms-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}

a:hover {
	color: #46A7C3;
}

::-webkit-input-placeholder  { color:#BBB; }
input:-moz-placeholder { color:#BBB; }

div.explanation {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}

div.swap {
	margin-top: 50px;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 0.8em;
	position: relative;
	top: -0.1em;
}

div.location_select {
	text-align: left;
	width: 70%;
	margin: auto;
}

input {
	-webkit-transition: color,background-color,border-color 1s ease-in-out;
}

input#time_location.success {
	color: #007700;
	border: 1px solid green;
	background-color: #EEFFEE;
}
input#time_location.pending {
	color: #DAA520;
	border: 1px solid yellow;
	background-color: #FFFDD0;
}

div.footer {
	font-size: 0.8em;
	text-align: right;
	position: static;
	padding: 20px;
	color: #CCC;
}

div.footer a {
	color: #999;
}

div.footer a:hover {
	color: #46A7C3;
}

div.footer div.sitename {
	font-weight: bold;
	font-size: 2em;
	letter-spacing: -0.10em;
	text-transform: uppercase;
}

a#options {
	text-transform: uppercase;
	font-size: 0.7em;
	position: relative;
	top: -5px;
}

div.dialog {
	text-transform: uppercase;
	background-color: #F0F0F0;
	font-size: 1.2em;
	padding: 10px;
	overflow: hidden;
}

div.dialog input {
	font-size: 1.2em;
}

input#human_time {
	width: 17em;
	text-align: center;
}

div.location_select div {
}

input#time_location {
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
	font-size: 1.1em;
	position: relative;
	top: -2px;
}

div.city span.radio_label {
	display: inline-block;
	float: left;
	width: 4em;
}

div.time_location_details {
	padding-left: 4em;
	color: #AAA;
}

div.options {
	position: relative;
	top: -3px;
}

input#human_format {
	text-align: center;
}

div.dialog hr {
	border: 1px solid #E7E7E7;
}

div.box {
	border: 1px solid #EEE;
	padding: 20px;
	background-color: #F9F9F9;
	border-radius: 5px;
}
